body {
    font-family: "微軟正黑體";
    background-color:#553434;
    text-align: center;
    position: relative;
    height: 200px; 
  }
.head{
    position: relative;
    margin:5% auto;
    background-color: #4a93f3;
    height: 200px;   
}
.text1{
    position:relative;
    font-family: "微軟正黑體";
    color: #f5f1f1;
    font-weight: bolder;
    font-size: 60px;
    text-align: center;
    top:15px;
}
.pic1{
    position: relative;
    float:left;
    left:150px;
    width: 300px;
    height: 300px;
    margin: 0 auto;
    border-radius: 50%;
}
.back {
    position: relative;
    margin: 5% ;
    background-color: #ccc6c6;
    height: 2150px;
    top:-95px;
    z-index:-1 ;
  }
  .title{
    position: relative;
    text-align: center;
    font-size: 28px;
    background-color:#a7dcec;
    width:210px;
    height: 75px;
    line-height:60px;
    font-weight: bold;
    border-radius:80px;
    color: rgb(10, 10, 10);
    opacity: 1;
  }
  .back1 {
    position: relative;
    margin:  5% auto;
    border: #FF9D6F;
    border-style: dashed;;
    border-width: 10px;
    border-radius: 10px;
    background-color: #dbcefa;
    height: 350px;
    width:900px;
    left:245px;
    top:-27px;
    z-index: -1;
  }
  .text2{
    font-family: "微軟正黑體";
    color: #000000;
    font-weight: bolder;
    font-size: 30px;
    text-align: left;
    padding-left:80px;
    padding-top: 10px;
    line-height: 60px;
  }
  .text3{
    font-family: "Impact";
    color: #000000;
    font-weight: bolder;
    font-size: 40px;
    text-align: center;
    position: relative;
    top:30px;
  }
  .horizontal-line
  {
      position: relative; 
      height: 0px;
      width: 1250px;
      top: 10px;
      border: 1px solid rgb(28, 120, 136);
      left:230px;
  }
  .back2 {
    position: relative;
    margin: 5% ;
    background-color: #ccc6c6;
    height: 3250px;
    z-index:-1 ;
  }
  .back3 {
    position: relative;
    margin:  5% auto;
    border: #FF9D6F;
    border-style: dashed;;
    border-width: 10px;
    border-radius: 10px;
    background-color: #dbcefa;
    height: 450px;
    width:900px;
    left:245px;
    top:-27px;
    z-index: -1;
  }
  .vertical-line 
{
    position: relative; 
    width: 0px;
    height: 300px;
    top: -520px;
    right: -10px;
    color: rgb(0, 0, 0);
    border: 1px solid rgb(28, 120, 136);
} 

.horizontal-line2
{
    position: relative; 
    height: 0px;
    width: 1550px;
    top: -1380px;
    border: 1px solid rgb(28, 120, 136);
    right:580px;
}
.vertical-line2
{
    position: relative; 
    width: 0px;
    height: 1290px;
    top: -2720px;
    right:680px;
    color: rgb(0, 0, 0);
    border: 1px solid rgb(28, 120, 136);
} 
.txt4{
    font-family: "微軟正黑體";
    font-weight: bold;
    font-size: 28px;
    position: relative;
    top:-2860px;
    left: -420px;
    float: left;
    text-align: left;
    color:#45527e;
  }
  .horizontal-line3
{
    position: relative; 
    height: 0px;
    width: 1550px;
    top: -2790px;
    border: 1px solid rgb(28, 120, 136);
    right:580px;
}
.word{
    font-family: "微軟正黑體";
    font-weight: bold;
    font-size: 40px;
    position: relative;
    top:-360px;
    left: 100px;
    float: left;
    text-align: left;
    color:#080808;
  }
  .word2{
    font-family: "微軟正黑體";
    font-weight: bold;
    font-size: 40px;
    position: relative;
    top:-40px;
    left: -60px;
    float: left;
    text-align: left;
    color:#080808;
  }
  .word3{
    font-family: "微軟正黑體";
    font-weight: bold;
    font-size: 40px;
    position: relative;
    top:280px;
    left: -223px;
    float: left;
    text-align: left;
    color:#080808;
  }
  .word4{
    font-family: "微軟正黑體";
    font-weight: bold;
    font-size: 40px;
    position: relative;
    top:580px;
    left: -353px;
    float: left;
    text-align: left;
    color:#080808;
  }
  .pic img {
    width:90px;
    height: 75px;
    margin: 50px 10px 10px 10px;
  }
  
  .pic img {
    transform: scale(1, 1);
    transition: all 1s ease-out;
  }
  
  .pic img:hover {
    transform: scale(1.2, 1.2);
  }

  
 
